body {
  margin: 0;
  min-height: 1000px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
html{
  height: 100%
}

#root{
  min-height:100%
}
a {
  font-weight: 500;
  color: #f7f8ff;
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}

button{ 
  background-color: rgb(13, 74, 85);
  color: white;
  padding:0 16px;
  margin:0 25px 0 30px;
  border-radius: 20px;
  font-size: 19px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

.favButton {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 5px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: blue;
  color: white;
}
.favButton:hover {
  border-color: #646cff;
}
.favButton:focus,
.favButton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  position:relative;
  bottom: 0;
  width: 90%;
  height: 40px;
  margin-top: 2rem;
  background-color: rgb(11, 16, 90);
  color: rgb(185, 202, 209)
}

footer > .caja {
  width: 100px;
  margin:0;
}

footer > p{
  margin:0;
  padding-top: 1rem;
}

form{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.card{
  display: flex;
  min-height: 8rem;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5px solid rgb(66, 57, 57);
  border-radius: 2rem;
  background-color: rgb(103, 106, 112);
}

.card:hover{
  border: 0.5px white;
}

.card-grid {
  display:flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: auto;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: rgb(5, 70, 78);
}

.dark {
  background-color: black;
  color: white;
}

#contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(14, 25, 122);
  padding: 20px;
}



